.apropos-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 135px;
}

.apropos-section-button {
  margin-top: 80px;
}

.apropos-section-img {
  max-height: 90vh;
  position: absolute;
  bottom: 0;
  right: 180;
}
.apropos-section-position {
  position: relative;
}

@media (max-width: 768px) {
  .apropos-section p {
    width: 80vw;
  }

  .apropos-section-img {
    width: 50vw;
    right: 0;
  }
}
