.button-link {
  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1.5px solid var(--black);
}

.button-pink {
  border-radius: 60px;
  border: 1.5px solid var(--pink);
}

.button-align-main {
  margin-top: 129px;
}

.button-link {
  transition: all 0.3s ease;
  text-decoration: none;
}

.button-pink:hover {
  background-color: var(--pink);
  color: var(--black);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 105, 180, 0.3);
}

.button-black:hover {
  background-color: var(--black);
  color: var(--pink);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
