.button-link {
  position: relative;
  will-change: transform;

  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1.5px solid var(--black);
  transition: transform 0.15s ease;
}

.button-dark {
  border-radius: 60px;
  border: 1.5px solid var(--main-light);
}

.button-align-main {
  margin-top: 129px;
}

.button-link {
  transition: all 0.3s ease;
  text-decoration: none;
}

.button-pink:hover {
  background-color: var(--main-light);
  color: var(--black);
  transform: scale(1.05);
}

.button-orange:hover {
  background-color: var(--orange);
  color: var(--main-light);
  border: none;
  transform: scale(1.05);
}
.button-red:hover {
  background-color: var(--red);
  color: var(--main-light);
  border: none;
  transform: scale(1.05);
}
.button-blue:hover {
  background-color: var(--blue);
  color: var(--main-light);
  border: none;
  transform: scale(1.05);
}

.button-green:hover {
  background-color: var(--green);
  color: var(--main-light);
  border: none;
  transform: scale(1.05);
}

.button-purple:hover {
  background-color: var(--purple);
  color: var(--main-light);
  border: none;
  transform: scale(1.05);
}

.button-rotate-right:hover {
  transform: rotate(10deg);
}

.button-rotate-left:hover {
  transform: rotate(-10deg);
}
