.carousel-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 50px;
}

.carousel {
  overflow: hidden;
  width: 80%;
  border-radius: 20px;
  height: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease;
  height: auto;
}

.carousel-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.carousel-slide img {
  width: auto;
  height: 100vh;
  object-fit: contain;
  max-width: 100%;
}

.carousel-nav {
  background: var(--black);
  color: var(--main-light);
  border-radius: 60px;
  border: 1.5px solid var(--main-light);
  width: 50px;
  height: 70px;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.carousel-nav:hover {
  background: var(--orange);
  color: var(--black);
  transform: scale(1.2) rotate(10deg);
  border-radius: 60px;
  border: none;
}
.carousel-left:hover {
  background: var(--purple);
  transform: scale(1.2) rotate(-10deg);
}

.carousel-left {
  margin-right: 20px;
}

.carousel-right {
  margin-left: 20px;
}
