.contact-icons {
  max-height: 10vh;
}

.contact-spacing {
  flex-direction: column;
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 30px;
}
