.contact-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;
  padding-bottom: 113px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 45px;
  gap: 61px;
}
