.hover-red:hover {
  color: var(--red);
}

.hover-red {
  transition: all 0.3s ease;
}

.hover-orange:hover {
  color: var(--orange);
}

.hover-orange {
  transition: all 0.3s ease;
}

.hover-blue:hover {
  color: var(--blue);
}

.hover-blue {
  transition: all 0.3s ease;
}

.hover-green:hover {
  color: var(--green);
}

.hover-green {
  transition: all 0.3s ease;
}

.hover-purple:hover {
  color: var(--purple);
}

.hover-purple {
  transition: all 0.3s ease;
}

.hover-img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.hover-img:hover {
  filter: grayscale(0%);
}

.hover-orange path {
  transition: fill 0.3s ease;
  fill: var(--black);
}

.hover-orange:hover path {
  fill: var(--orange);
}

.hover-red path {
  transition: fill 0.3s ease;
  fill: var(--black);
}

.hover-red:hover path {
  fill: var(--red);
}

.hover-purple path {
  transition: fill 0.3s ease;
  fill: var(--black);
}

.hover-purple:hover path {
  fill: var(--purple);
}

.hover-blue path {
  transition: fill 0.3s ease;
  fill: var(--black);
}

.hover-blue:hover path {
  fill: var(--blue);
}
