.identite-visuelle-img {
  max-height: 40vh;
  border: 1px solid var(--black);
}

.identite-visuelle-video {
  max-height: 40vh;
}

.identite-visuelle-title {
  padding-bottom: 10px;
}

.identite-visuelle-spacing {
  display: flex;
  gap: 20px;
}

.third-section {
  display: flex;
  gap: 20px;
}
.identite-visuelle-horizontal {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.identite-visuelle-borne-first {
  max-height: 87.5vh;
}

.identite-visuelle-borne {
  max-height: 70vh;
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .identite-visuelle-spacing {
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
  }

  .identite-visuelle-borne {
    max-height: 90vh;
    margin-bottom: 0px;
  }
  .third-section {
    flex-direction: column;
  }
  .identite-visuelle-img {
    max-height: 30vh;
    border: 1px solid var(--black);
  }

  .identite-visuelle-video {
    max-height: 30vh;
  }

  .identite-visuelle-title {
    margin-left: 20px;
    margin-top: 40px;
  }
}
