.title {
  display: flex;
  flex-direction: column;
  padding-bottom: 247px;
}

.title-photo {
  max-width: 30vw;
  position: absolute;
  bottom: 0;
  right: 180;
}
.title-section {
  margin-left: 100px;
  margin-top: -25px;
}

.title-main-align {
  margin-bottom: -45px;
}

.title-main {
  padding-top: 0px;
}

.title-position {
  position: relative;
}

@media (max-width: 768px) {
  .title-photo {
    max-width: 60vw;
    right: 0;
    bottom: 0;
  }

  .title p {
    width: 100vw;
  }

  .title h2 {
    width: 100vw;
  }
}
