.video-section-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  padding-bottom: 100px;
}

.video-section-card-align {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
video {
  max-height: 50vh;
}
