.video-section-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  padding-bottom: 100px;
}

.video-section-card-align {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
video {
  max-height: 50vh;
}

@media (max-width: 768px) {
  img,
  video {
    max-width: 85vw;
    margin: auto;
  }

  .video-section-card-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 52px;
  }
  .video-section-card {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .video-section-text {
    margin: auto;
  }
}
