html {
  --pink: #ffb7d9;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
}

body {
  color: var(--black);
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 24px;
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease, transform 0.1s ease;
  z-index: 9999;
  background-color: #ffb7d9; /* couleur initiale sur fond noir */
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
video {
  display: block;
}

h1 {
  padding-top: 113px;
  font-size: 96px;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  font-weight: 200;
}

video {
  max-height: 25vh;
}
